 
 header {
    background: url(imagenes/fondo.jpg);
    height: 100vh;
    background-size: cover;
 }
 
 
 body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }
 



li {
    list-style: none;
    margin-right: 25px;
    
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu {
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    background: #5cb8ff;
    padding: 10px 30px 10px 30px;


}

.titular {
    text-align: center;
    margin-top: 200px;
}

h1{ 
    font-size: 60px;
    margin: 0;
    color: antiquewhite;
}

h2 {
    font-size: 25px;
    margin-bottom: 80;
    color: antiquewhite;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
    
}


/* SOBRE MI  */


h3 {
   
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;  
    align-items: center;
}

.contenedor-pb {
    width: 42%;

}


.contenedor-pb p {
    font-size: 20px;
}

.contenedor-pb a {
    display: inline-block;
    margin-top: 30px;
}


.contenedor-servicio {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;


}

.servicio {
    width: 25%;
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 35px;
    color: aliceblue;
   
}


.celeste {
    background-color: #5cb8ff
    
}

.violeta {
    background-color: #5055df;
}

.servicio h4 {
    font-size: 30;
}



.servicio img {
    float: right;
}


.parrafo-sobremi {
    color: black;
}


